{{> nav}}
<div class="container-fluid">
  <div class="row">
    <div class="col-md-2"></div>
  <div class="col-md-8">
    <form action="/category/" method="post">
      <div class="form-group">
        <label for="categoryName">Category name:</label>
        <input type="text" name="name" class="form-control" id="categoryName" placeholder="category name">
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
  </div>
  <div class="col-md-2"></div>
  </div>
</div>
